/*moviles*/
    body{
        text-align: center;
        column-count: auto;
      }

      .principalLogo {
        width: 12rem;
        height: 8rem;
        display: flex;
        margin: 1rem;
        margin-left: auto;
        margin-right: auto;
      }
       #signInPage, #timeLine, #inputEditPost, .invisible {

          display : none;
      }

      p {
          text-align: center;
          font-size: 18pt;
          margin: auto;
      }

      .input {
          width: 15rem;
          height: 2rem;
         margin-top: 1rem;
         margin-bottom: 1rem;
          font-size: 20pt;
          margin-left: auto;
          margin-right: auto;

      }
      .button, .buttonDelete, .buttonEdit, .saveButton {
          height: 3rem;
          text-align: center;
          display: flex;
          font-size: 16pt;
          margin-left: auto;
          margin-right: auto;
          border-radius: 5rem;
          cursor: pointer;
      }

      .button, .buttonDelete, .buttonEdit, .saveButton, .cancel {
          height: 3rem;
          text-align: center;
          display: flex;
          font-size: 16pt;
          margin-left: auto;
          margin-right: auto;
          border-radius: 5rem;
          cursor: pointer;
        }

      .textForClick {
          text-align: center;
          font-size: 18pt;
          margin: auto;
          text-decoration: underline;
          font-weight: bold;
          cursor: pointer;
      }
      #textForCreateAcount {
          text-align: center;
          font-size: 18pt;
          margin: auto;
      }
      .postInBox {
        width: 40rem;
        height: 10rem;
        border: black 3px solid;
        margin: 2rem;
        display: flex;
        margin-left: auto;
        margin-right: auto;


      }
/*tablets*/
@media screen and (min-width: 481px) and (max-width: 780px) {}
/*escritorio normal*/
@media (min-width: 1024px) {}


  for= "heart"] {
    color: #aab8c2;
    font-size: 2em;
    cursor: pointer;
  }

  [id='toggle-heart']:checked + label {
    color: #e2264d;
  }
