/*moviles*/
    body{
        text-align: center;
        column-count: auto;
      }

      .principalLogo {
        width: 20rem;
        height: 10.39rem;
        display: inline;
        margin-top: 0rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
      }

       #signInPage, #timeLine, #inputEditPost, .invisible {
          display : none;
      }

      p {
          text-align: center;
          font-size: 18pt;
          margin: auto;
      }

      .input {
          width: 15rem;
          height: 2rem;
         margin-top: 1rem;
         margin-bottom: 1rem;
          font-size: 20pt;
          margin-left: auto;
          margin-right: auto;

      }
      .
      .button, .buttonDelete, .buttonEdit, .saveButton, .cancel, .buttonEditProfile {
          height: 3rem;
          text-align: center;
          display: flex;
          font-size: 16pt;
          margin-left: auto;
          margin-right: auto;
          border-radius: 5rem;
          cursor: pointer;
        }

        .buttonDelete, .buttonEdit, .buttonEditProfile {
          float: right;
          position: relative;
          margin-bottom: 0rem;
        }

      .textForClick {
          text-align: center;
          font-size: 18pt;
          margin: auto;
          text-decoration: underline;
          font-weight: bold;
          cursor: pointer;
      }
      #textForCreateAcount {
          text-align: center;
          font-size: 18pt;
          margin: auto;
      }

      .postInBox {

   display:inline-block;
        width: 40rem;
        height: 10rem;
        border: black 3px solid;
        margin: 2rem;
        margin-left: auto;
        margin-right: auto; */
      }

      .txtdate{
        text-align: right;
        margin: .5rem;
      }

      .txtname, .txtmns, .txtlike{
        text-align: left;
        margin: .5rem;
      }

      #goHomePage{
        width: 3rem;
        height: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      #signOut{
        width: 3rem;
        height: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-right: 3rem;
        margin-left:3rem;
        float: right;
      }

      #goProfilePage{
        width: 3rem;
        height: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-right: 3rem;
        margin-left:3rem;
        float: left;
      }

      .buttonLike{
        float: left;
        width: 2rem;
        height : 2rem;
        
      }

      .element{
        display: block;
      }

      #imgProfile{
        width: 18.75rem;
        height: 18.75rem;
        border-radius: 9.37rem
      }


/*tablets*/
@media screen and (min-width: 481px) and (max-width: 780px) {}
/*escritorio normal*/
@media (min-width: 1024px) {}


  for= "heart"] {
    color: #aab8c2;
    font-size: 2em;
    cursor: pointer;
  }

  [id='toggle-heart']:checked + label {
    color: #e2264d;
  }
