
body{
  text-align: center;
}

.principalLogo {
    width: 40rem;
    height: 20rem;
    display: flex;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#signOut, #timeLine, #signInPage, #userInformationInTimeline {
    display : none;
}
p {
    text-align: center;
    font-size: 40pt;
    margin: auto;
}
.autenticationSec{
    text-align: center;
    margin: 2rem;
}

#facebookLogo, #googleLogo {

    width: 25rem;
    height: 10rem;
}

#facebookLogo:hover, #googleLogo:hover {
    box-shadow: 2px 2px 10px #666;
    cursor: pointer;
}

.input {
    width: 50rem;
    height: 8rem;
    margin: 2rem;
    display: flex;
    font-size: 40pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.button {
    height: 10rem;
    display: flex;
    font-size: 36pt;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10rem;
    cursor: pointer;
}
.textForClick {
    text-align: center;
    font-size: 40pt;
    margin: auto;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
#textForCreateAcount {
    text-align: center;
    font-size: 40pt;
    margin: auto;
}

#userInformationInTimeline {
    display: flex;
    margin: auto;
    text-align: center;
}
